@import "normalize.css";

  @font-face {
      font-family: 'Inconsolata';
      src: url('../fonts/inconsolata-webfont.eot');
      src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/inconsolata-webfont.woff') format('woff'),
url('../fonts/inconsolata-webfont.ttf') format('truetype'),
url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'League Gothic';
      src: url('../fonts/league_gothic-webfont.eot');
      src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/league_gothic-webfont.woff') format('woff'),
url('../fonts/league_gothic-webfont.ttf') format('truetype'),
url('../fonts/league_gothic-webfont.svg#leaguegothicregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  /* Included as bold to prevent awful auto-bolding of League Gothic on some platforms.*/
  @font-face {
      font-family: 'League Gothic';
      src: url('../fonts/league_gothic-webfont.eot');
      src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/league_gothic-webfont.woff') format('woff'),
url('../fonts/league_gothic-webfont.ttf') format('truetype'),
url('../fonts/league_gothic-webfont.svg#leaguegothicregular') format('svg');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Colaborate';
      src: url('../fonts/colablig-webfont.eot');
      src: url('../fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/colablig-webfont.woff') format('woff'),
url('../fonts/colablig-webfont.ttf') format('truetype'),
url('../fonts/colablig-webfont.svg#colaboratelightregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Colaborate';
      src: url('../fonts/colabreg-webfont.eot');
      src: url('../fonts/colabreg-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/colabreg-webfont.woff') format('woff'),
url('../fonts/colabreg-webfont.ttf') format('truetype'),
url('../fonts/colabreg-webfont.svg#colaborateregular') format('svg');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Lato';
      src: url('../fonts/lato-lig-webfont.eot');
      src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-lig-webfont.svg#LatoLight') format('svg'),
url('../fonts/lato-lig-webfont.woff') format('woff'),
url('../fonts/lato-lig-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'Lato';
      src: url('../fonts/lato-ligita-webfont.eot');
      src: url('../fonts/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-ligita-webfont.svg#LatoLightItalic') format('svg'),
url('../fonts/lato-ligita-webfont.woff') format('woff'),
url('../fonts/lato-ligita-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;

  }

  @font-face {
      font-family: 'Lato';
      src: url('../fonts/lato-regita-webfont.eot');
      src: url('../fonts/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-regita-webfont.svg#LatoItalic') format('svg'),
url('../fonts/lato-regita-webfont.woff') format('woff'),
url('../fonts/lato-regita-webfont.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;

  }

  @font-face {
      font-family: 'Lato';
      src: url('../fonts/lato-reg-webfont.eot');
      src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-reg-webfont.svg#LatoRegular') format('svg'),
url('../fonts/lato-reg-webfont.woff') format('woff'),
url('../fonts/lato-reg-webfont.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;

  }

  @font-face {
      font-family: 'Alegreya';
      src: url('../fonts/alegreya-regular-webfont.eot');
      src: url('../fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/alegreya-regular-webfont.woff') format('woff'),
url('../fonts/alegreya-regular-webfont.ttf') format('truetype'),
url('../fonts/alegreya-regular-webfont.svg#alegreyaregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Alegreya';
      src: url('../fonts/alegreya-italic-webfont.eot');
      src: url('../fonts/alegreya-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/alegreya-italic-webfont.woff') format('woff'),
url('../fonts/alegreya-italic-webfont.ttf') format('truetype'),
url('../fonts/alegreya-italic-webfont.svg#alegreyaitalic') format('svg');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Alegreya';
      src: url('../fonts/alegreya-bold-webfont.eot');
      src: url('../fonts/alegreya-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/alegreya-bold-webfont.woff') format('woff'),
url('../fonts/alegreya-bold-webfont.ttf') format('truetype'),
url('../fonts/alegreya-bold-webfont.svg#alegreyabold') format('svg');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Alegreya';
      src: url('../fonts/alegreya-bolditalic-webfont.eot');
      src: url('../fonts/alegreya-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/alegreya-bolditalic-webfont.woff') format('woff'),
url('../fonts/alegreya-bolditalic-webfont.ttf') format('truetype'),
url('../fonts/alegreya-bolditalic-webfont.svg#alegreyabolditalic') format('svg');
      font-weight: bold;
      font-style: italic;
  }
.nomargins,
h1,
h2,
h3,
.tiny,
p,
td,
th,
label,
article,
header,
aside {
  margin-top: 0;
  margin-bottom: 0;
}
.addmargins,
blockquote,
ul,
pre,
code,
nav {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
h1 {
  font-size: 2rem;
  line-height: 3.2rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}
h3 {
  font-size: 1.125rem;
  line-height: 1.6rem;
}
.tiny {
  font-size: 0.75rem;
  line-height: 1.6rem;
}
p,
td,
th,
label,
article,
header,
aside {
  font-size: 1rem;
  line-height: 1.6rem;
}
blockquote,
ul,
pre,
code,
nav {
  font-size: 1rem;
  line-height: 1.6rem;
}
html {
  font-size: 112.5%;
  line-height: 1.6rem;
  background-color: #00283e;
}
body {
  color: #000;
  font-family: "Lato", "Verdana", sans;
  background: url("../images/natural_paper.png") repeat;
  padding: 24px;
  margin: 0 auto;
  max-width: 34em;
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.6);
  overflow: auto;
  zoom: 1;
}
time {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  display: inline-block;
  text-indent: 0px;
}
.indent,
blockquote,
pre {
  color: #1a1a1a;
  border-left: 1px solid #800000;
  padding-left: 0.8rem;
  margin-left: 1.6rem;
}
li {
  padding-left: 1em;
  margin-left: 1em;
  text-indent: -1em;
}
a {
  color: #800000;
  text-decoration: none;
  line-height: 1.6rem;
  overflow: hidden;
}
a:visited {
  color: #7a0000;
}
a:hover {
  color: #b90000;
}
a:focus {
  outline: none;
}
hgroup {
  width: 100%;
}
h1,
h2 {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  font-weight: bold;
  text-transform: uppercase;
}
code,
pre {
  font-family: "Inconsolata", "Courier New";
  font-size: 0.85em;
  background: #fff;
  overflow: auto;
  whitespace: pre-line;
  word-wrap: break-word;
  text-transform: none !important;
  font-variant: normal !important;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
p {
  margin-bottom: 0;
}
p+p {
  margin-top: 1.6rem;
}
p+p::first-letter,
p+p::first-line {
  font: inherit;
  color: inherit;
  float: inherit;
  display: inherit;
  vertical-align: inherit;
  text-shadow: none;
}
header {
  overflow: auto;
}
header:after {
  content: "";
  border-top: 0.0625rem solid #000;
  height: 0px;
  margin: 0.76875rem auto;
  display: block;
  width: 100%;
  position: relative;
}
abbr,
.caps {
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 0.05em;
}
article {
  overflow: auto;
}
article:after {
  content: "";
  border-top: 0.125rem solid #000;
  height: 0px;
  margin: 0.7375rem auto;
  display: block;
  width: 100%;
  position: relative;
}
article header {
  overflow: hidden;
}
article header:after {
  content: "";
  border-top: 0.0625rem solid #90a3b1;
  height: 0px;
  margin: 0.76875rem auto;
  display: block;
  width: 100%;
  position: relative;
}
article section>p:first-child::first-letter {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  color: #800000;
  text-shadow: 3px 3px 1px #90a3b1;
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 3.2rem;
  height: 3.2rem;
}
article section>p:first-child::first-line {
  line-height: 1.6rem;
  font-variant: small-caps;
}
article h2 {
  margin-top: 1.6rem;
  text-transform: none;
  color: #00283e;
}
article h3 {
  margin-top: 1.6rem;
  text-decoration: underline;
}
article .content>p:last-of-type:after {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/gat_flourish.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/gat_flourish.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/gat_flourish.png, sizingMethod='scale')';
  content: '';
  height: 3.2rem;
  width: 3.2rem;
  display: block;
  margin: 0 auto;
}
dt {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  color: #800000;
  color: #800000;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  margin-top: 0em;
  margin-bottom: 0em;
}
dd {
  font: inherit;
  color: inherit;
  float: inherit;
  display: inherit;
  vertical-align: inherit;
  text-shadow: none;
}
dd:after {
  content: "";
  border-top: 0.0625rem solid #800000;
  height: 0px;
  margin: 0.76875rem auto;
  display: block;
  width: 100%;
  position: relative;
}
img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
a.category,
span.category {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: 1px;
}
dl.category dt {
  font-size: 140%;
}
dl.category dt:after {
  content: ':';
}
.flavor,
.post_header .or:after {
  font-family: "Alegreya", Georgia, "Times New Roman";
  color: #00283e;
  font-size: 0.8rem;
  opacity: 0.8;
}
.post_header .postinfo,
.post_header h2,
.post_header h3 {
  display: block;
  margin-left: 2em;
  text-indent: -2em;
}
.post_header h2 {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  text-transform: none;
  margin-bottom: 0;
}
.post_header h3 {
  font-family: "Alegreya", Georgia, "Times New Roman";
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
.post_header .or:after {
  content: ", or,";
  font-weight: normal;
}
.sitenav {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  text-transform: uppercase;
  padding-left: 0;
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
.sitenav li {
  box-sizing: border-box;
  width: 20%;
  float: left;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.6em;
  white-space: nowrap;
  letter-spacing: 1px;
}
.sitenav a.active::before,
.sitenav a.active:visited::before,
.sitenav a.active::after,
.sitenav a.active:visited::after {
  font-family: "Alegreya", Georgia, "Times New Roman";
  color: #00283e;
  position: relative;
  top: -0.1875rem;
}
.sitenav a.active::before,
.sitenav a.active:visited::before {
  content: '{';
}
.sitenav a.active::after,
.sitenav a.active:visited::after {
  content: '}';
}
.siteheader {
  margin: 0 auto;
}
.siteheader em {
  font-style: inherit;
  font-weight: normal;
  color: #800000;
}
.siteheader h1,
.siteheader h2 {
  margin: 0 auto;
  text-align: center;
  color: #00283e;
}
.siteheader h1 {
  letter-spacing: 0.05em;
  font-size: 3.2rem;
}
.siteheader h1 a {
  display: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
}
.siteheader h2 {
  text-transform: none;
  font-family: "Alegreya", Georgia, "Times New Roman";
  font-weight: normal;
  font-style: italic;
}
.siteheader a {
  display: none;
}
.more {
  display: block;
  text-align: right;
}
.caps {
  font-size: 85%;
  letter-spacing: 0.1em;
}
.sidebar {
  display: none;
}
.me {
  font-variant: small-caps;
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  color: #800000;
  display: inline-block;
  word-wrap: no-wrap;
  font-size: 1.6rem;
}
#now_playing li em {
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans;
  color: #800000;
}
.credits ul {
  list-style-type: none;
}
.credits li {
  font-size: 0.75rem;
}
.notfound-img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/gat_404.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/gat_404.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/gat_404.png, sizingMethod='scale')';
  max-width: 100%;
  height: 368px;
  margin: 0 auto 3.2rem auto;
}
.foot {
  box-sizing: border-box;
  float: left;
  width: 100%;
  clear: left;
  padding-top: 1.6rem;
}
.foot .media {
  display: block;
  width: 90%;
  max-height: 100%;
  height: auto;
  margin: 0 5%;
  box-shadow: 0px 0px 3px 3px #00283e;
}
.foot h2 {
  color: #00283e;
  margin-bottom: 1.6rem;
  font-family: "Alegreya", Georgia, "Times New Roman";
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
}
.foot h2 a {
  text-decoration: underline;
  color: #1e6197;
}
.foot li,
.foot ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-indent: 0;
}
.foot li:after {
  content: "";
  border-top: 0.0625rem solid #800000;
  height: 0px;
  margin: 0.76875rem auto;
  display: block;
  width: 100%;
  position: relative;
}
.foot time {
  display: block;
  width: 100%;
  text-align: right;
}
.foot .tweet {
  overflow: auto;
}
.foot .tweet p {
  font-size: 85%;
  line-height: 1.6rem;
}
.foot .tweet p::first-line,
.foot .tweet p::first-letter {
  font: inherit;
  color: inherit;
  float: inherit;
  display: inherit;
  vertical-align: inherit;
  text-shadow: none;
}
.foot .tweet .avatar {
  width: 48px;
  max-height: 3.2rem;
  margin-right: 1em;
  float: left;
}
.foot .tweet:after {
  content: "";
  border-top: 0.0625rem solid #800000;
  height: 0px;
  margin: 0.76875rem auto;
  display: block;
  width: 100%;
  position: relative;
  clear: right;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,40,62,0.95);
  z-index: 9999;
}
.overlay * {
  display: none;
}
.overlay img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 90%;
}
.overlay:after {
  display: none !important;
}
.shownav {
  display: none;
}
.pager {
  width: 100%;
  height: 2em;
  text-align: center;
}
.pager div {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  display: inline-block;
}
.pager div:first-child {
  margin-left: 0;
}
.pager .tumblr-pager {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/tumblr-inactive.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/tumblr-inactive.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/tumblr-inactive.png, sizingMethod='scale')';
}
.tumblr .pager .tumblr-pager {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/tumblr-active.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/tumblr-active.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/tumblr-active.png, sizingMethod='scale')';
}
.pager .posts-pager {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/posts-active.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/posts-active.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/posts-active.png, sizingMethod='scale')';
}
.twitter .pager .posts-pager,
.tumblr .pager .posts-pager {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/posts-inactive.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/posts-inactive.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/posts-inactive.png, sizingMethod='scale')';
}
.pager .twitter-pager {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/twitter-inactive.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/twitter-inactive.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/twitter-inactive.png, sizingMethod='scale')';
}
.twitter .pager .twitter-pager {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/media/images/twitter-active.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/twitter-active.png, sizingMethod='scale';
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/twitter-active.png, sizingMethod='scale')';
}
.pulled_quote {
  box-sizing: border-box;
  color: #1e6197;
  max-width: 18em;
  margin: 0 auto;
}
.pulled_quote:before,
.pulled_quote:after {
  content: "";
  border-top: 0.125rem solid #00283e;
  height: 0px;
  margin: 0.7375rem auto;
  display: block;
  width: 100%;
  position: relative;
}
.pulled_quote p {
  text-indent: 0;
  font-family: "Alegreya", Georgia, "Times New Roman";
  font-size: 1.2em;
  line-height: 1.6rem;
}
.pulled_quote p:first-letter {
  text-transform: uppercase;
}
.gist {
  box-sizing: border-box;
  border: 1px solid #00283e;
  padding: 0.5em;
  margin: 1.6rem 0;
}
.footnote p {
  font-size: 0.75em;
}
.older {
  float: left;
}
.older:before {
  content: '\00ab\00a0';
}
.newer {
  float: right;
}
.newer:after {
  content: '\00a0\00bb';
}
.spoiler {
  margin-bottom: 1.6rem;
}
.spoiler::before,
.spoiler::after {
  content: "";
  border-top: 0.125rem solid #00283e;
  height: 0px;
  margin: 0.7375rem auto;
  display: block;
  width: 100%;
  position: relative;
}
.spoiler h1 {
  color: #800000;
  text-align: center;
  font-family: "Alegreya", Georgia, "Times New Roman";
  font-style: italic;
  text-transform: none;
}
.spoiler p {
  font-family: "Alegreya", Georgia, "Times New Roman";
  color: #1e6197;
}
.codebox {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  background: #fff;
}
.codebox figure>br {
  display: none;
}
.codebox figcaption {
  font-family: "Inconsolata", "Courier New";
  font-size: 0.8em;
  line-height: 1.5375rem;
  border-top: 0.0625rem solid #800000;
  text-align: right;
  color: #800000;
}
.codebox code {
  background: inherit;
}
.codebox pre {
  color: inherit;
  background: inherit;
  border-left: none;
  padding: 0;
  margin: 0;
}
.recent {
  margin-top: 1.6rem;
}
.limit,
#main,
body>div,
body>aside,
#siteheader,
#sitenav {
  max-width: 34em;
  overflow: hidden;
  margin: 0 auto;
}
#main,
body>div,
body>aside {
  padding-top: 1.6rem;
}
#siteheader {
  position: relative;
}
#siteheader h1 {
  line-height: 4.800000000000001rem;
  font-size: 4.800000000000001rem;
}
#siteheader h2 {
  margin-top: -0.64rem;
  margin-bottom: 0.64rem;
}
#siteheader:after {
  display: none;
}
#sitenav {
  border-bottom: 1px solid #800000;
  border-top: 1px solid #800000;
  height: 1.475rem;
  text-align: center;
  width: 100%;
}
#sitenav * {
  line-height: 1.475rem;
}
#footer {
  width: 100%;
  max-width: 100%;
}
#footer:before {
  content: "";
  border-top: 0.125rem solid #000;
  height: 0px;
  margin: 0.7375rem auto;
  display: block;
  width: 100%;
  position: relative;
}
body.notfound #main {
  text-align: center;
}
@media all and (max-width: 24em) {
  #siteheader h1 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
@media all and (min-width: 24em) and (max-width: 36em) {
  #siteheader h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}
@media all and (max-width: 36em) {
  body {
    margin: 0 1rem;
    padding: 1.6rem 0.5rem;
    position: relative;
    min-height: 100%;
  }
  #siteheader header,
  #siteheader hgroup,
  #siteheader h1 {
    width: 100%;
    overflow: visible;
  }
  #siteheader h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  #siteheader h2 {
    display: none;
  }
  #sitenav {
    text-align: left;
    transition: all 1s;
    box-sizing: border-box;
    display: block;
    border: none;
    position: fixed;
    width: 90%;
    height: 100%;
    left: 100%;
    top: 0;
    background: #00283e;
    padding-left: 3.2rem;
    z-index: 100;
    overflow: visible;
  }
  #sitenav.vis {
    margin-left: 0;
    left: 10%;
  }
  #sitenav.vis .shownav {
    transform: rotate(180deg);
    margin-left: 0;
  }
  #sitenav ul {
    width: 80%;
    height: 8rem;
    position: absolute;
    margin-top: -4rem;
    margin-left: 1.6rem;
    top: 50%;
  }
  #sitenav li {
    float: none;
    text-align: left;
    color: #90a3b1;
    position: relative;
    padding: 0;
    margin: 0;
  }
  #sitenav a {
    margin-left: -1.25rem;
    font-weight: normal;
  }
  #sitenav a,
  #sitenav a:visited {
    color: #90a3b1;
  }
  #sitenav a.active:before,
  #sitenav a:visited.active:before,
  #sitenav a.active:after,
  #sitenav a:visited.active:after {
    display: none;
  }
  #sitenav a:hover {
    color: #1e6197;
  }
  #sitenav .shownav {
    transition: all 1s;
    display: block;
    width: 1.6rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/media/images/showmenu.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/images/showmenu.png, sizingMethod='scale';
    -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/showmenu.png, sizingMethod='scale')';
    position: absolute;
    top: 50%;
    margin-top: -0.8rem;
    left: 0;
  }
}
@media all and (max-width: 55em) {
  #footer {
    position: relative;
    width: 100%;
  }
  #footer .foot {
    width: 33.333333333%;
    float: left;
    clear: none;
  }
  .pagerwrapper {
    transition: all 1s;
    width: 300%;
    margin-left: -100%;
  }
  .tumblr .pagerwrapper {
    margin-left: -200%;
  }
  .twitter .pagerwrapper {
    margin-left: 0;
  }
}
@media all and (min-width: 62em) {
  body,
  #siteheader,
  #sitenav {
    max-width: 52em;
    margin: 0 auto;
  }
  #siteheader h1 {
    line-height: 4.800000000000001rem;
  }
  .sidebar {
    display: block;
    width: 17em;
    margin-right: 1em;
    float: left;
  }
  .sidebar img.logo {
    max-width: 100%;
    height: 19.200000000000003rem;
    margin-bottom: 1.6rem;
  }
  body.post .sidebar {
    display: none;
  }
  body.post #main {
    max-width: 52em;
    margin: 0 auto;
  }
  body.post article {
    overflow: visible;
    float: right;
    max-width: 34em;
  }
  body.post article header,
  body.post article .pulled_quote {
    padding: 0;
    float: left;
    width: 17em;
    margin-left: -18em;
    margin-right: 1em;
  }
  .foot {
    clear: none;
    max-width: 33%;
    width: 17em;
    padding: 12px;
  }
  .pager {
    display: none;
  }
}
